aiosqlite
alembic
asyncpg
bcrypt
email_validator
fastapi
httpx
passlib[bcrypt]
psycopg2-binary
pydantic-settings
pytest
pytest-asyncio
pytest-env
python-jose[cryptography]
pylint
requests
sqlalchemy[asyncio]
strawberry-graphql
uvicorn[standard]
