#character.none {
  color: black;
}

#character.hit {
  /* color: gray; */
  color: green;
}

#character.miss {
  color: red;
}

#character.flash {
  -webkit-animation-name: flash;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;

  animation-name: flash;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

@-webkit-keyframes flash {
  0% {
    background-color: white;
    color: black;
  }
  50% {
    background-color: black;
    color: white;
  }
  100% {
    background-color: white;
    color: black;
  }
}

@keyframes flash {
  0% {
    background-color: white;
    color: black;
  }
  50% {
    background-color: black;
    color: white;
  }
  100% {
    background-color: white;
    color: black;
  }
}
