/*#text-to-type {
   margin: 0 auto;
  padding: 0;
   word-wrap: break-word;
  font-weight: bold;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: 1.2;
  text-align: left;
  white-space: pre-wrap; 
  
}*/
