.animate-flash {
  -webkit-animation-name: animate-flash;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease;

  animation-name: animate-flash;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

@keyframes animate-flash {
  0% {
    background-color: white;
    color: black;
  }
  50% {
    background-color: black;
    color: white;
  }
  100% {
    background-color: white;
    color: black;
  }
}

@-webkit-keyframes animate-flash {
  0% {
    background-color: white;
    color: black;
  }
  50% {
    background-color: black;
    color: white;
  }
  100% {
    background-color: white;
    color: black;
  }
}
